body {
background-image:url(https://png.pngtree.com/thumb_back/fh260/back_pic/04/46/62/4958577397a4539.jpg); 
background-repeat: no-repeat;
background-size:cover;
}

.card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	max-width: 300px;
	margin: auto;
	text-align: center;
	font-family: arial;
}
img{
	width: 300px;
	height: 300px;
}
.ups{
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;width: 100%;
	font-size: 18px;
	opacity: 0.7;
}

* {box-sizing: border-box;}

body { 
  margin: 0;
  font-family: Arial;
}

.header {
  overflow: hidden;
  background-color:	#191970;
  padding: 10px ;
}

.header a {
  float: right;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px; 
  line-height: 25px;
  border-radius: 4px;
}

.header a.logo {
  font-size: 25px;
  font-weight: bold;
  color:white;
}

.header a:hover {
  background-color: #ddd;
  color: black;
}

.header a.active {
  background-color: dodgerblue;
  color: white;
}

.header-left {
  float: left;
}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }

}
.footer{
	float: right;
	width:200px;
	height: 800px ;
	background-color: #87CEEB;
	
}
.text{
   border-radius: 5px;
   margin-top: 10px;
}
.main{
	font-size: 25px;
	color: black;
}
.namak{
	width: 300px;
	height: auto;
	padding: 10px;
	display: inline-block;
	content: center;
	margin-top: 20px;
	margin-left: 100px;
}
#share{
  margin-left: 200px;
  /*margin-top: 10px;*/
}
.nkar{
  height: 100px;
  width: 100px;
  object-fit: cover;
  margin:5px;
  transition:400ms;
  cursor: pointer;
}
.nkar:hover{
  transform:scale(1.1) translateY(-15px);
}